<h3><%= @patient.name %></h3>

<%= @patient.appointments.each do |a| %>
  <%= patient_doctor = @patient.doctors.find_by(id: a.doctor_id) %>
  <%= link_to patient_doctor.name, doctor_path(patient_doctor) %> - <%= link_to a.appointment_datetime.strftime("%B %d, %Y at %k:%M"), appointment_path(a) %>
  <br>
<% end %>